<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div>
    <h2>
        Welcome, <span th:text="${username} ? ${username}+'!': 'Guest!'">...</span>
    </h2>
</div>
<div>
    <h3>
        Your time zone is <span th:text="${lastTimeZone} ? ${lastTimeZone} : 'UTC (by default)'">...</span><br>
        And there now  <span th:text="${initTime}"></span>
    </h3>
</div>
<form action="time" method="POST">
    <label for="timezone">Enter your time zone: </label>
    <input type="text" id="timezone" name="timezone" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>